<div class="main">
    <aside>
        <div class="sidebar left ">  
            <% if (user.role === 'admin') { %>
            <ul class="list-sidebar bg-defoult">
                <li><li><a href="/users/admin/shop-order"> <i class="fa fa-tasks"></i> <span class="nav-label">order</span> </a> </li></li>
                <li><li><a href="/shop/admin/receipt"> <i class="fa fa-shopping-bag"></i><span class="nav-label">ยืนยันการชำระ</span> </a> </li></li>
                <li><li class="active"><a href="/users/admin"> <i class="fa fa-address-card"></i> <span class="nav-label">ข้อมูล users</span> </a></li> </li>
                <li> <a href="/category/add"><i class="fa fa-shopping-basket"></i> <span
                            class="nav-label">เพิ่มหมวดหมู่สินค้า</span></a> </li>
                <li> <a href="/shop/add"><i class="fa fa-shopping-cart"></i> <span
                            class="nav-label">เพิ่มสินค้า</span></a> </li>
                <li> <a href="/shop/adminProduct"><i class="fa fa-shopping-cart"></i> <span
                            class="nav-label">แก้ไขข้อมูลสินค้า</span></a> </li>
                <% } %>
            </ul>
        </div>
    </aside>
</div>
