<!DOCTYPE html>
<html lang="en">

<head>
    <title>Admin</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>

<body>
    <% include layout %>
    <% include Admin/header %>


    <div class="container-fluid">
        <div class="row">
            <%- include Admin/dashboard %>
            <div class="container col-9 col-md-9 mt-4">
                <h1 class="text-center">ยินดีต้อนรับสู่ Admin menu</h1>
            </div>
        </div>
    </div>
</body>

</html>